<sidebar>
    <div class="col-lg-12">
        <rd-widget>
            <rd-widget-header icon="fa-users" title="Estudios">
                <input type="text" placeholder="Buscar" class="form-control input-sm" />
            </rd-widget-header>
            <rd-widget-body classes="large no-padding">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Estudio</th>
                            <th>Series</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="study in studies">
                            <td class="text-center">
                                <a>
                                    {{study.studyId}}
                                </a>

                            </td>
                            <td>
                                <a ng-href="{{'#/patient/'+id+'/study/'+study.studyId+'/serie/'+serie.serieId}}" ng-repeat="serie in study.series">
                                    <div ng-if="$index % 3 == 0" class="clearfix"></div>
                                    <div class="col-lg-3 thumbnail" serie-image="{{serie.images[0].imageId}}">
                                        <div class="caption">
                                            {{serie.serieId}}
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
            <rd-widget>
    </div>
</sidebar>