/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.mainbox{
    margin-top:50px;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.loginbox{
    margin-top:50px;
}

.forgot-password{
    float:right; font-size: 80%; position: relative; top:-10px
}

.login-body{
    padding-top:30px
}

.login-input{
    margin-bottom: 25px
}

.login-button{
    margin-top:10px
}

.login-separator{
    border-top: 1px solid#888; padding-top:15px; font-size:85%
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.cornerstone-enabled-image {

    /* prevent text selection from occurring when dragging the mouse on the div */
    /* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* force the cursor to always be the default arrow.  This prevents it from changing to an ibar when it is
       over HTML based text overlays (four corners */
    cursor:default;
}

canvas {
    width:  100% !important;
    height: auto !important;
}


