<sidebar>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    <div class="col-lg-12">
        <rd-widget>
            <rd-widget-header icon="fa-users" title="Pacientes">
                <input type="text" placeholder="Buscar" class="form-control input-sm" />
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">Paciente</th>
                            <th>Estudio</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="patient in patients">
                            <td class="text-center">
                                <a ng-href="{{'#/patient/' + patient.patientId}}">
                                    {{patient.patientId}}
                                </a>

                            </td>
                            <td>
                                <a ng-repeat="study in patient.studies">
                                    {{study.studyId}}
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
            <rd-widget>
                <div class="form-group row">
                    <span class="col-xs-4 btn-default btn btn-file">
                        {{uploadFile.name || 'Seleccionar...'}}
                        <input type='file' file-model='uploadFile' >
                    </span>

                    <button type="button" ng-click="upload(uploadFile)" class="btn btn-primary col-xs-2">Subir</button>
                </div>
    </div>
</sidebar>